:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --drawing-background: #FFFFFF;
}

body {
  background: #333;
  display: grid;
  place-items: center;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  background: white;
}

button {
  margin-top: 5px;
}

h1 {
  color: white;
}

.main-ui {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  gap: 2rem;
}

.draw-area {
  background: var(--drawing-background);
  
}

.title {
  grid-column: 1 / 4;
  text-align: center;
}

.middle {
  grid-column: 2 / 3;
}

.left {
  grid-column: 1 /2 ;
}

.bottom {
  grid-column: 1 / 4;

}

.right {
  grid-column: 3 / 4;
  padding: 1rem;
}

.color-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bg-color-option-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-color-option-wrapper input {
  width: 50px;
  height: 50px;
  padding: 1px;
  border: 1px solid black;
}

.bg-color-option-wrapper label {
  font-size: 8pt;
  text-align: center;
}

.canvas-buttons {
  text-align: center;
}

.color-button {
  display: inline-block;
  border: none;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 0 1px black;
}

.btn-red {
  background: red;
}

.btn-blue {
  background: blue;
}

.btn-green {
  background: green;
}

.btn-purple {
  background: purple;
}

.btn-white {
  background: white;
}

.btn-black {
  background: black;
}

.btn-selected {
  box-shadow: inset 0 0 5px 2px black;
}

.btn-black.btn-selected {
  box-shadow: inset 0 0 5px 3px white;
}



